<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/bootstrap-combobox/bootstrap-combobox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <!-- Define the locale to have the number inputs format the numbers correctly -->
    <body lang="{{ app.request.locale }}">
        {% block menu %}
        <!-- Bootstrap menu fixed, fixed on top of the page -->
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans %}app.quotes2017{% endtrans %}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <!-- Only show a menu link if the users has the required permissions to access it -->
{% if is_granted("ROLE_QUOTE_EDIT") %}
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{% trans %}app.quotes{% endtrans %}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('quoteList') }}#" class="show-quote-list">{% trans %}app.show{% endtrans %}</a></li>
                                <li><a href="{{ path('quoteList') }}#~(page~'edit)" class="new-quote">{% trans %}app.create{% endtrans %}</a></li>
                            </ul>
{% endif %}
                        </li>
{% if is_granted("ROLE_CUSTOMER_EDIT") %}
                        <li class="dropdown">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{% trans %}app.customers{% endtrans %}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("customerList") }}#" class="show-customer-list">{% trans %}app.show{% endtrans %}</a></li>
                                <li><a href="{{ path("customerList") }}#~(page~'edit)" class="new-customer">{% trans %}app.create{% endtrans %}</a></li>
                            </ul>
                        </li>
{% endif %}
                        <li class="dropdown">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-hashpopup="true"
                               aria-expanded="false">{% trans %}app.user{% endtrans %}</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {% trans %}app.logout{% endtrans %}
                                    </a>
                                </li>
                                <li role="separator" class="divider">
                                </li>
{% for locale in locales %}
                                <li>
                                    <a href="{{ path(app.request.attributes.get("_route"), app.request.query.all|merge({"_locale": locale})) }}">{{('app.locale_' ~ locale)|trans}}</a>
                                </li>
{% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
        <script>
/**
 * Require.js configuration. The shim property is the requrie.js way of
 * defining dependencies for Javascript modules which do not follow the
 * AMD format. Defining a shim does not load anything, it only defines the
 * dependencies to ensure proper load order.
 */
var require = {
    shim: {
        "bootstrap":                       { "deps" :["jquery"] },
        "bootstrap-combobox":              { "deps" :["jquery", "bootstrap"] },
        "bootstrap-datepicker":            { "deps" :["bootstrap-datepicker-es", "bootstrap-datepicker-eu"] },
        "bootstrap-datepicker-es":         { "deps": ["bootstrap-datepicker-no-locales"] },
        "bootstrap-datepicker-eu":         { "deps": ["bootstrap-datepicker-no-locales"] },
        "bootstrap-datepicker-no-locales": { "deps" :["jquery", "bootstrap"] },
        "jsgrid":                          { "deps": ["jsgrid-es", "jsgrid-eu"]},
        "jsgrid-es":                       { "deps" :["jsgrid-no-locales"] },
        "jsgrid-eu":                       { "deps" :["jsgrid-no-locales"] },
        "jsgrid-no-locales":               { "deps" :["jquery"] },
        "lib/jsurl":                       {}
    },
    baseUrl: "{{ asset('js') }}",
    paths: {
        "bootstrap":                       "{{ asset('lib/bootstrap/js/bootstrap.min') }}",
        "bootstrap-combobox":              "{{ asset('lib/bootstrap-combobox/bootstrap-combobox') }}",
        "bootstrap-datepicker":            "{{ asset('js/bootstrap-datepicker') }}",
        "bootstrap-datepicker-no-locales": "{{ asset('lib/bootstrap-datepicker/js/bootstrap-datepicker.min') }}",
        "bootstrap-datepicker-es":         "{{ asset('lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min')}}",
        "bootstrap-datepicker-eu":         "{{ asset('lib/bootstrap-datepicker/locales/bootstrap-datepicker.eu.min')}}",
        "jquery":                          "{{ asset('lib/jquery') }}",
        "jsgrid":                          "{{ asset('js/jsgrid') }}",
        "jsgrid-es":                       "{{ asset('lib/jsgrid/i18n/jsgrid-es') }}",
        "jsgrid-eu":                       "{{ asset('js/jsgrid/i18n/jsgrid-eu') }}",
        "jsgrid-no-locales":               "{{ asset('lib/jsgrid/jsgrid') }}",
        "lib":                             "{{ asset('lib') }}"
    }
};
        </script>
        <!--
        require.js defines the "define" and "require" functions used
        to define and load modules. Once require is configured and
        loaded there is no need to use explicit <script> tags to load
        external Javascript libraries and, more importantly, the
        framework guaranties proper load order.
        -->
        <script src="{{ asset('lib/require.js') }}"></script>
        <script>
/**
 * This is a simple way to export translated strings from the twig files
 * to Javascript. To have any text translated in Javascript just add it
 * to this module and require de appStrings module wherever you need the
 * translation.
 */
define("appStrings", function() {
return {
    "accepted":          "{% trans %}app.accepted{% endtrans %}",
    "customer":          "{% trans %}app.customer{% endtrans %}",
    "customer_name":     "{% trans %}app.customer_name{% endtrans %}",
    "customer_number":   "{% trans %}app.customer_number{% endtrans %}",
    "quote_description": "{% trans %}app.quote_description{% endtrans %}",
    "quote_number":      "{% trans %}app.quote_number{% endtrans %}",
    "shipping":          "{% trans %}app.shipping{% endtrans %}",
    "quote_date":        "{% trans %}app.quote_date{% endtrans %}",
    "total"   :          "{% trans %}app.total{% endtrans %}"
}
});

/**
 * This is a simple way to export the requests locale to Javascript.
 */
define("currentlocale", [], function() {
return "{{ app.request.locale }}";
});
/**
 * This is a simple way to export base URL to generate URL in JS.
 *
 * In more complex cases FOSJsRoutingBundle could be a better solution.
 */
define("baseurl", [], function() {
return "{{ app.request.baseUrl }}";
});
/**
 * Always load bootstrap and all its dependencies together with the
 * page's main.
 */
require([
    "bootstrap", "{% block jsMain %}{% endblock %}"
],
function(){});
        </script>
    </body>
</html>
