<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/bootstrap-combobox/bootstrap-combobox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body lang="{{ app.request.locale }}">
        {% block menu %}
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% trans %}app.quotes2017{% endtrans %}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{% trans %}app.quotes{% endtrans %}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('quoteList') }}#" class="show-quote-list">{% trans %}app.show{% endtrans %}</a></li>
                                <li><a href="{{ path('quoteList') }}#~(page~'edit)" class="new-quote">{% trans %}app.create{% endtrans %}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{% trans %}app.customers{% endtrans %}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("customerList") }}#" class="show-customer-list">{% trans %}app.show{% endtrans %}</a></li>
                                <li><a href="{{ path("customerList") }}#~(page~'edit)" class="new-customer">{% trans %}app.create{% endtrans %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/logout">
                                {% trans %}app.logout{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
        <script>
var require = {
    shim: {
        "bootstrap": { "deps" :["jquery"] },
        "bootstrap-combobox": { "deps" :["jquery", "bootstrap"] },
        "bootstrap-datepicker": { "deps" :["jquery", "bootstrap"] },
        "bootstrap-datepicker/locale/bootstrap-datepicker.es.min": { "deps": ["bootstrap-datepicker"] },
        "bootstrap-datepicker/locale/bootstrap-datepicker.en.min": { "deps": ["bootstrap-datepicker"] },
        "bootstrap-datepicker/locale/bootstrap-datepicker.eu.min": { "deps": ["bootstrap-datepicker"] },
        "bootstrap-datepicker/locale": { "deps": ["bootstrap-datepicker"] },
        "jquery-ui": { "deps" :["jquery"] },
        "jsgrid":    { "deps" :["jquery"] },
        "jsgrid-es": { "deps" :["jsgrid"] },
        "lib/jsurl": {}
    },
    baseUrl: "{{ asset('js') }}",
    paths: {
        "bootstrap": "{{ asset('lib/bootstrap/js/bootstrap.min') }}",
        "bootstrap-combobox": "{{ asset('lib/bootstrap-combobox/bootstrap-combobox') }}",
        "bootstrap-datepicker": "{{ asset('lib/bootstrap-datepicker/js/bootstrap-datepicker.min') }}",
        "bootstrap-datepicker/locale": "{{asset('lib/bootstrap-datepicker/locales')}}",
        "jquery":    "{{ asset('lib/jquery') }}",
        "jquery-ui": "{{ asset('lib/jquery-ui/jquery-ui.min') }}",
        "jsgrid":    "{{ asset('lib/jsgrid/jsgrid') }}",
        "jsgrid-es": "{{ asset('lib/jsgrid/i18n/jsgrid-es') }}",
        "lib":       "{{ asset('lib') }}"
    }
};
        </script>
        <script src="{{ asset('lib/require.js') }}"></script>
        <script>
define("appStrings", function() {
return {
    "accepted":          "{% trans %}app.accepted{% endtrans %}",
    "customer":          "{% trans %}app.customer{% endtrans %}",
    "customer_number":   "{% trans %}app.customer_number{% endtrans %}",
    "quote_description": "{% trans %}app.quote_description{% endtrans %}",
    "quote_number":      "{% trans %}app.quote_number{% endtrans %}",
    "shipping":          "{% trans %}app.shipping{% endtrans %}",
    "quote_date":        "{% trans %}app.quote_date{% endtrans %}",
    "total"   :          "{% trans %}app.total{% endtrans %}"
}
});
define("currentlocale",
[
    "bootstrap-datepicker/locale/bootstrap-datepicker.es.min"
],
function() {
return "{{ app.request.locale }}";
});
        </script>
        <script>
require([
    "bootstrap"
],
function(){});
        </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
